/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define CMDSYM 1
#define NAVNUM 2
#define OSFNUM 3

&mt { flavor = "balanced"; };

/ {
    combos {
        compatible = "zmk,combos";

        okaies_combo {
            bindings = <&okaies>;
            key-positions = <7 25>;
            layers = <0>;
        };

        lgtm_combo {
            bindings = <&lgtm_macro>;
            key-positions = <1 14>;
            layers = <0>;
        };

        lambda_macro {
            bindings = <&lambda_macro>;
            key-positions = <0 1 2>;
            layers = <0>;
        };

        gui_ctrl_left {
            bindings = <&kp LG(LC(LEFT))>;
            key-positions = <11 20 30>;
            layers = <0>;
        };

        gui_ctrl_right {
            bindings = <&kp LG(LC(RIGHT))>;
            key-positions = <20 30 13>;
            layers = <0>;
        };

        arrow_func_combo {
            bindings = <&arrow_func>;
            key-positions = <17 18>;
            layers = <1>;
        };

        ctrl_left {
            bindings = <&kp LC(LEFT)>;
            key-positions = <11 20>;
            layers = <0>;
        };

        ctrl_right {
            bindings = <&kp LC(RIGHT)>;
            key-positions = <13 20>;
            layers = <0>;
        };
    };

    macros {
        okaies: okaies {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(O) &kp K &kp A &kp I &kp E &kp S>;
        };

        lgtm_macro: lgtm_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(L) &kp LS(G) &kp LS(T) &kp LS(M)>;
        };

        lambda_macro: lambda_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp L &kp A &kp M &kp B &kp D &kp A>;
        };

        arrow_func: arrow_func {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp SPACE &kp EQUAL &kp GT &kp SPACE>;
            label = "ARROW_FUNC";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Graphite {
            bindings = <
&kp B        &kp L  &kp D     &kp W            &kp Z         &kp SINGLE_QUOTE  &kp F            &kp O      &kp U    &kp J
&kp N        &kp R  &kp T     &kp S            &kp G         &kp Y             &kp H            &kp A      &kp E    &kp I
&mt LCTRL Q  &kp X  &kp M     &kp C            &kp V         &kp K             &kp P            &kp COMMA  &kp DOT  &mt RCTRL FSLH
                    &kp LGUI  &mt LSHFT SPACE  &mo CMDSYM    &mo NAVNUM        &mt RSHFT ENTER  &kp RALT
            >;
        };

        Commands_Symbols {
            bindings = <
&kp ESCAPE  &kp TAB  &kp DEL  &trans     &trans    &kp GRAVE  &trans    &kp LBKT   &kp RBKT   &trans
&kp LGUI    &trans   &trans   &kp LSHFT  &trans    &trans     &kp SEMI  &kp LPAR   &kp RPAR   &trans
&trans      &trans   &trans   &trans     &trans    &trans     &trans    &kp MINUS  &kp EQUAL  &mt RCTRL BSLH
                     &trans   &trans     &trans    &trans     &trans    &trans
            >;
        };

        Navigation_Numbers {
            bindings = <
&trans  &trans    &kp HOME  &kp END    &trans    &trans  &kp N7  &kp N8  &kp N9  &kp BSPC
&trans  &kp LEFT  &kp UP    &kp RIGHT  &trans    &trans  &kp N4  &kp N5  &kp N6  &kp RGUI
&trans  &trans    &kp DOWN  &trans     &trans    &kp N0  &kp N1  &kp N2  &kp N3  &trans
                  &trans    &trans     &trans    &trans  &trans  &trans
            >;
        };

        OS_FnNumbers {
            bindings = <
&trans  &trans      &trans        &trans        &sys_reset      &sys_reset  &kp F7  &kp F8       &kp F9  &kp F10
&trans  &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &trans      &kp F4  &kp F5       &kp F6  &kp F11
&trans  &bt BT_CLR  &trans        &trans        &trans          &trans      &kp F1  &kp F2       &kp F3  &kp F12
                    &bootloader   &trans        &trans          &trans      &trans  &bootloader
            >;
        };

        kb_management {
            bindings = <
&trans  &trans       &trans      &trans  &trans    &trans  &trans  &trans      &trans       &trans
&trans  &bootloader  &sys_reset  &trans  &trans    &trans  &trans  &sys_reset  &bootloader  &trans
&trans  &trans       &trans      &trans  &trans    &trans  &trans  &trans      &trans       &trans
                     &trans      &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        osfnum {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
