if SHIELD_DACTYL_LEFT

    config ZMK_KEYBOARD_NAME
        default "Dactyl"
endif

if SHIELD_DACTYL_RIGHT

    config ZMK_KEYBOARD_NAME
        default "Dactyl Right"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

endif

if SHIELD_DACTYL_LEFT || SHIELD_DACTYL_RIGHT

    config ZMK_SPLIT
        default y

endif